body {
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(228, 234, 235);
}

.test {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 50px;
    background-color: white;
}

.test
 li {
    margin-right: 30px;
    padding: 10px 5px;
    border-radius: 15px;
}

.navcolone {
    width: 50%;
    margin-left: 2%;
}

.navcoltwo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navcolone h1 {
    padding-left: 10px;
}

.navbarcon {
    padding: 50px;
    margin-left: 95px;
    margin-right: 95px;
}

.resumebut {
    border: none;
    background-color: rgb(20, 76, 160);
    color: white;
    text-decoration: none;
    width: 200px;
    height: 70px;
    text-align: center;
    border-radius: 50px;
    margin: 4px;
}

.introcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url('images/bg.png');
}

 .intro {
    margin-left: 20%;
    text-align: left;
    font-size: x-large;
    width: 50%;
    display: block;
 }

 .intro p {
    color: rgb(20, 76, 160);
 }

 .headimg {
    width: 475px;
    height: 475px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px white;
 }

 .headshot {
    display: flex;
    margin-right: 10%;
    width: 50%;
    align-items: center;
 }

.servicesbut {
    border: none;
    text-decoration: none;
    color: white;
    background-color: rgb(20, 76, 160);
    height: 50px;
    width: 130px;
    border-radius: 35px;
    margin: 6px;
}

.worksbut {
    border: none;
    text-decoration: none;
    color: white;
    background-color: black;
    height: 50px;
    width: 130px;
    border-radius: 35px;
    margin: 6px;
}

.aboutmecon {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.graduatepic {
    display: flex;
    width: 50%;
    padding-top: 45px;
    padding-right: 20px;
    justify-content: end;
    position: relative;
}

.graduateimg {
    width: 350px;
    height: 600px;
}

.aboutme {
    width: 50%;
    font-size: large;
    padding-top: 45px;
    justify-content: start;
    padding-right: 15%;
    padding-left: 20px;
}

.skillsare {
    color:rgb(20, 76, 160);
}

.skills {
    color: black;
}

.graduatepic button {
    height: 50px;
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 150px;
}